// general

@page {
  size: A4;
  margin: 0; // full-bleed
}

.page {
  width: 793px;
  height: 1122px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  font-family: $primaryFont;
  font-weight: 300;
  line-height: 1.3;
  font-size: 15px;
  page-break-after: avoid;
  color: $black;

  // =========================================================

  &_main {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px;

    &:before {
      content: "";
      position: absolute;
      background: $blue;
      opacity: 0.7;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  height: 765px;
}

.column {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    width: 100%;
    height: 3px;
    background: $blue;
    display: block;
    margin-top: auto;
  }
  &-small {
    width: 30%;
  }

  &-big {
    width: 70%;
  }
}

.decor {
  background: $blue;
  width: 303px;
  max-width: 303px;
  box-sizing: border-box;
  padding: 98px 37px 98px 48px;
  // =========================================================

  &_info {
    width: 238px;
    position: relative;
    z-index: 1;
    background: none;
    color: $white;
  }

  &__persone {
    width: 130px;
    margin-bottom: 25px;
    img {
      border-radius: 50%;
      border: 4px solid $white;
      height: 130px;
      width: 130px;
    }
  }

  &__address {
    span:first-of-type {
      padding-bottom: 30px;
    }
  }

  // =========================================================

  &-2 {
    width: 50px;
    padding: 0;
  }

  // main-page styles

  &_main {
    padding: 98px 62px 98px 54px;
    color: $white;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 254px;

    &-2 {
      padding-bottom: 369px;
    }
  }

  &__list {
    line-height: 1.6;
    padding-bottom: 74px;

    &-2 {
      padding-bottom: 34px;
      border-bottom: 1px solid $white;
      margin-bottom: 30px;
    }
  }

  &__accreditation {
    max-width: 100%;

    & + div {
      max-width: 100%;
    }
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

span {
  display: block;
}

.logo {
  width: 23%;
  margin-bottom: 25px;

  &-3 {
    width: 20%;
    margin: 0;
  }
}

.content {
  padding: 73px 54px 54px;
  width: 395px;
  position: relative;
  display: flex;
  flex-direction: column;

  &:after {
    content: "";
    width: 100%;
    height: 3px;
    background: $blue;
    display: block;
    margin-top: auto;
  }

  // =========================================================

  &-2 {
    width: 555px;

    &:after {
      content: none;
    }
  }

  &-3 {
    padding: 0;
    width: 100%;

    &:after {
      content: none;
    }
  }
}

.title {
  font-family: $titleFont;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 60px;
  font-weight: 900;

  &-2 {
    text-transform: capitalize !important;
    font-size: 50px;
  }

  &_proposal {
    font-size: 70px;

    &-2 {
      padding-bottom: 170px;
      font-size: 60px;
    }

    &-3 {
      font-size: 55px;
    }
  }

  &_overview {
    padding-bottom: 80px;

    &-2 {
      padding-bottom: 60px;
    }
  }

  &_scope {
    padding-bottom: 50px;
  }

  &_terms {
    padding-bottom: 40px;
  }
}

.wrapper {
  &__title {
    background: $greyLight;
    padding: 46px 70px;

    h2 {
      padding: 0;
      font-size: 55px;
    }
  }

  &__info {
    width: 60%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 70px 40px;
    height: 875px;
    box-sizing: border-box;
  }

  &__logo {
    display: flex;

    img {
      width: 100px;
    }

  }
}

.underline {
  align-self: flex-end;
  margin-bottom: 18px;
  height: 2px;
  background: $blue;
  width: 80%;
}

// sections

.proposal {
  justify-content: space-between;
  position: relative;
  z-index: 5;

  // =========================================================

  &-2 {
    background: $white;
    width: 60%;
  }

  &__about {
    display: flex;
    justify-content: space-between;
  }

  &__main,
  &__certificate,
  &__account {
    padding: 46px 70px;
  }

  &__certificate {
    display: flex;
    background: $lightBlue;
    color: $white;
  }

  &__docs {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px 0 10px 40px;
    border-left: 1px solid $white;

    div {
      width: 45%;
    }
  }

  &__info {
    display: flex;

    li + li {
      padding-left: 30px;
    }
  }

  &__account {
    background: $blue;
    color: $white;
    display: flex;
    line-height: 1.5;

    &_info {
      width: 50%;
      display: flex;
      align-items: center;

      p {
        padding-left: 25px;
      }
    }

    &_contact {
      width: 50%;
      padding-left: 40px;
      border-left: 1px solid $white;
    }
  }

  &__example {
    height: 345px;

    background-image: url("../img/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 36%;
  }

  &:after {
    content: none;
  }

  h1 {
    prince-bookmark-level: 1;
  }

  &__address {
    display: flex;

    &_column {
      flex-direction: column;
      padding-bottom: 40px;
      border-bottom: 1px solid $blue;
      margin-bottom: 30px;
    }

    &-3 {
      width: 50%;
      flex-direction: column;
    }
  }

  &__galery {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;

    div {
      width: 50%;
      padding: 0 10px;
    }
  }

  &__description {
    font-size: 14px;
    width: 30%;
    font-family: $primaryTitleFont;
    font-weight: 600;

    &_padding {
      padding-bottom: 15px;
    }

    &-3 {
      width: auto;
    }
  }

  &__list {
    max-width: 210px;

    li + li {
      padding-top: 10px;
    }
  }

  &__contact {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 120px;

    &-2 {
      padding-left: 0;
    }

    &-text {
      max-width: 197px;
    }

    p + p {
      padding-top: 5px;
    }

    .proposal__line {
      width: 30px;
      height: 3px;
      background: $blue;
      padding: 0;
      margin: 11px 0 11px;
    }
  }

  &__img {
    margin-left: -55px;
    margin-right: -91px;
    position: relative;
    z-index: 5;
  }

  &__persone {
    position: absolute;
    right: 0;
    width: 159px;
    transform: translateX(89%);

    img {
      border-radius: 50%;
      border: 8px solid $white;
      height: 159px;
      width: 159px;
    }

    &-3 {
      position: static;
      transform: translateX(0);
      width: 90px;

      img {
        width: 90px;
        height: 90px;
        border-width: 5px;
      }
    }
  }
}

// overview

.overview {
  h1 {
    prince-bookmark-level: 4;
  }
  font-size: 16px;
  p {
    padding-right: 34px;
    margin-bottom: 25px;
  }

  .gaf {
    margin-bottom: 60px;
  }
}

// job

.job {
  h2 {
    prince-bookmark-level: 3;
  }
  &__img {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 50px;

    &:last-of-type {
      padding: 0;
    }
  }

  &__img-2 {
    img {
      height: 230px;
    }
    &:first-of-type {
      padding-bottom: 80px;
    }
  }

  &__description {
    padding-bottom: 80px !important;
    height: 230px;
    display: flex;
    align-items: flex-end;
  }
}

// warranty

.warranty {
  h2 {
    prince-bookmark-level: 4;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    max-width: 320px;
    padding-bottom: 22px;
  }

  p {
    padding-bottom: 67px;
  }
}

// scope

.scope {
  h2 {
    prince-bookmark-level: 5;
  }

  &__title {
    padding-top: 335px;
  }

  &__order {
    border-bottom: 1px solid $blue;

    &-3 {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    padding-bottom: 30px;

    li {
      padding: 6px 10px;
    }

    &:first-of-type li:nth-of-type(even) {
      background-color: $lightGrey;
    }

    &_grey li:nth-of-type(odd) {
      background-color: $lightGrey;
    }

    &-3 {
      width: 48%;

      li:nth-of-type(even) {
        background-color: $lightGrey;
      }
    }
  }

  &__options {
    width: 70%;
    padding-top: 40px;

    &-2 {
      padding: 0;
    }

    &-3 {
      width: 50%;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: $primaryTitleFont;
  }

  &__item {
    padding-top: 30px;
  }

  &__name {
    font-family: $primaryTitleFont;
    font-weight: 700;
  }
}

// terms

.terms {
  width: 395px;
  &-2 {
    width: 575px;
  }
  &-3 {
    width: 100%;
  }
  p {
    font-size: 13px;
  }
  &__name {
    font-family: $primaryTitleFont;
    font-weight: 700;

    &.terms__name-3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  &__text {
    &-3 {
      width: 90%;
    }
  }

  &__item-2 + &__item-2 {
    padding-top: 70px;
  }
 

  h4 {
    font-size: 18px;
    font-family: $primaryTitleFont;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 30px;

    &.terms__title {
      padding-top: 0;
      margin-bottom: 70px;

      &:first-of-type {
        height: 144px;
      }

      &:nth-of-type(2) {
        height: 185px;
      }
    }
  }
}

.form {
  display: flex;
  width: 100%;
  margin: 0 -10px;
  
  &-3 {
    margin: 0 -15px;
  }

  &__item {
    width: 50%;
    padding: 0 10px;

    &-3 {
      padding: 0 15px;
    }
  }

  &__name {
    width: 100%;
    font-size: 13px;
    padding-bottom: 10px;
    display: block;

    input {
      max-width: 100%;
      border: none;
      border-bottom: 1px solid $grey;
      margin-bottom: 5px;
      outline: transparent;
      padding: 10px;
      width: 90%;
    }

    &-3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      input {
        width: 145px;
        margin: 0;
      }
    }
  }
}
