
// colors

$black: #121314;
$blue: #174F9D;
$lightBlue: #1c64c8;
$white: #fff;
$lightGrey: #F4F4F4;
$greyLight: #f7f7f7;
$grey: #9e9e9e;

// font-size 

$menuDesctop: 17px;
$menuMobile: 18px;
$serviceDesctope: 19px;
$serviceTablet: 17px;
$serviceMobile: 14px;
$footerText: 10px;
$textDesctope: 16px;
$textMobile: 14px;

// font-family

$primaryFont: 'interregular', sans-serif;
$primaryTitleFont: 'interbold', sans-serif;
$titleFont: 'poppinsbold', sans-serif;
